.Register{
    position: relative;

    // background-color: #fafafa;

    .tempBorder{
        border: 2px solid red;
    }

}

.Register .btn-primary {
    background-color: #0095f6;
}

p {
    color: #8e8e8e

}

.Register input {
    background-color: #fafafa;
}

.form-container {
    border: 1px solid #dbdbdb;
    background-color: white;
}

.Register form, .form-group, .text-center, p, label{

}


#logo{
    height: 50px;
}



