.PostCreate{
    position: relative;


    .btn-primary {
        background-color: #0095f6;
    }

    .form-container {
        border: 1px solid #dbdbdb;
    }

    input {
        background-color: #fafafa;
    }

    form, .form-group, .text-center, p, label{
        background-color: white;
    }

    p {
        color: #8e8e8e

    }

}
